body { 
  font-family: Cambria , Arial;}
h1 {text-align: center;}
.one {text-align: center;}
h2 {text-align: right;}
.two {text-align: right;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }
